<h1>Things To Do!</h1>
<%= link_to 'ADD New Task', new_task_path %>
<% @tasks.each do |task| %>
  <h2><%= task.title %></h2>
  <%= link_to 'Explore Item', task_path(task) %>
  <%= link_to 'Edit page', edit_task_path(task) %>
  <%= link_to 'Remove Task', task, method: :delete %>
<% end %>
